<h2> Team Members </h2>

<p>
<%= link_to '<< Back to Home', :root %>
</br>
<%= link_to 'Create New Team Member', :new_member %>
</p>

<h3> Your Fuze Team </h3>

<h2>Members</h2>
<table>
  <tr>
    <th>UID</th><th>First Name</th><th>Last Name</th><th>Extension</th><th>Location</th><th>Group</th>
  </tr>
    <% @members.each do |member| %>
    <tr>
      <td><%=member.uid%></td><td><%=member.first_name%></td>
      <td><%=member.last_name%></td><td><%=member.extension%></td>
      <td><%=member.location%></td><td><%=link_to(member.group.name, group_path(member.group.id))%></td>
      <td><%= link_to 'View', member_path(member.id) %></td>
      <td><%= link_to 'Delete', member_path(member.id), method: :delete, data: { confirm: 'Are you sure?'}%></td>
     </tr>
    <% end %>
</table>
