<h2> Team Members </h2>

<p>
<%= link_to '<< Back to Home', :root %>
</br>
<%= link_to 'Create New Team Member', :new_member %>
</p>

<h3> Your Fuze Team </h3>

<% @members.each do |member| %>
  <%= member.uid %> |  <%=member.first_name %>  <%= member.last_name %> |  <%= member.extension %> | <%= member.location %>
  |  <%= link_to 'View', member_path(member.id) %>
  |  <%= link_to 'Delete', member_path(member.id), method: :delete, data: { confirm: 'Are you sure?'}%>

  </br>
<% end %>


